<div class="header-container">
    <div class="header-title">
        <img src="../../../assets/images/logo-removebg.png" alt="QuestConnect Logo">
        <h1 [routerLink]="['']">QuestConnect</h1>
    </div>
    <div class="searchbar-container">
        <input class="searchbar" type="text" placeholder="Pesquisar...">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="icon"></mat-icon>
    </div>
    <div class="links-container">
        <div class="link-button">
            <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>notifications</mat-icon>
            </button>
        </div>
        <div class="link-button">
            <button mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>chat_bubble</mat-icon>
            </button>
        </div>
        <div class="user-container" [routerLink]="['login']">
            <p class="username">Johanna-Maria</p>
            <div>
                <button mat-mini-fab aria-label="Example icon button with a menu icon">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

